:global(.warranty-section) {
    border: 2px solid #000f1f;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(12, 1fr);
    background-color: #000f1f;
}

:global(section.header) {
    border: 2px solid #000f1f;
    background-color: white;
}

:global(.label) {
    background-color: #fc6522;
    color: white;
    font-weight: 500;
    padding: 5px 8px;
}

:global(.value) {
    text-align: center;
    background-color: white;
    padding: 5px 8px;
}

:global(.name) {
    text-align: left;
}