:global(section) {
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
}

:global(.label) {
    background-color: #fc6522;
    color: white;
    padding: 4px 8px;
    border: 1px solid #444;
}

:global(.value) {
    text-align: center;
    flex: 1;
    background-color: white;
    border: 1px solid #444;
    padding: 4px 8px;
}

:global(.name) {
    text-align: left;
}